/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


/dts-v1/;
#include <st/f4/stm32f407Xe.dtsi>
#include <st/f4/stm32f407v(e-g)tx-pinctrl.dtsi>

#include <layouts/common/ortho_4x12/1x2u.dtsi>
#include <layouts/common/ortho_4x12/2x2u.dtsi>
#include <layouts/common/ortho_4x12/all1u.dtsi>

/ {
	model = "Pumpq Skystar";
	compatible = "pumpq,skystar";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zmk,kscan = &kscan0;
		zmk,physical-layout = &layout_ortho_4x12_all1u;
	};

	kscan0: kscan0 {
		compatible = "zmk,kscan-gpio-matrix";
		diode-direction = "col2row";
		row-gpios = <&gpioa 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
			    <&gpioa 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
			    <&gpioa 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
			    <&gpiob 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
			    <&gpioc 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
			    <&gpioc 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
			    <&gpioc 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
			    <&gpioa 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		col-gpios = <&gpiob 11 GPIO_ACTIVE_HIGH>,
			    <&gpiob 10 GPIO_ACTIVE_HIGH>,
			    <&gpiob 2 GPIO_ACTIVE_HIGH>,
			    <&gpiob 1 GPIO_ACTIVE_HIGH>,
			    <&gpioa 7 GPIO_ACTIVE_HIGH>,
			    <&gpiob 0 GPIO_ACTIVE_HIGH>;
	};
};
